body { 
   background-color: papayawhip;
    }
  img { 
 width:270px ; 
    text-align: center;
      }
 .var{ 
text-align:right;
 }
 h1 { 
 text-align: center;
 }
.boom { 
  text-align: center;
  }  h2 {
 text-align: center; 
}
 .wow { 
 text-align: center;
 }
 .bruh {    margin-right:1000px  ;
 }
 table{ 
 border: 10px solid aqua ;
 
 }   
 .bar{
   font-size: 39px; 
  text-align:right;
  ;
  border-radius:10px;
 }
 .bro{ 
   border: 10px solid red;
 margin-right:1000px;
 border-radius:10px;
 margin: ;
}
         
.lol{ 
 width:200px ;
 }
h1 img { 
  width: 100px;
   }

